<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBaN6hOSpyGeV6SB9wlEVdU-aR9J74sKEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>967048058501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappUi</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-backend-45520</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-backend-45520.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967048058501:ios:3bb934e138de749d633bec</string>
</dict>
</plist>